
<h1 class="text-muted">Insertar Un Producto</h1>

<form method="post">

    <label>Nombre</label>
    <input class="form-control" name="nombre" type="text" required />
    <label>Descripcion</label>
    <input class="form-control" name="descripcion" type="text" required />
    <label>Precio</label>
    <input class="form-control" name="precio" type="number" required />
    <label>Imagen</label>
    <input class="form-control" name="imagen" type="text" required />
    <br />
    <button class="btn btn-secondary">Guardar producto</button>

</form>